<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TicketNumber" value ="P52FKC"/>
    <add key="Surname" value="Sakun"/>
    <add key="Name" value="Sakun"/>
    <add key="Password" value="p@ssw0rd"/>
    <add key="Mail" value="a@mail.ru"/>
    <add key="Number" value="291112233"/>
    <add key="NotExistCity" value="Minsk"/>
    <add key="AloneCity" value="Goa"/>
    <add key="CityTo" value="Gorakhpur"/>
  </appSettings>
</configuration>